<div
  class="min-w-80 h-fit flex flex-col gap-3 max-[430px]:min-w-70 max-[380px]:min-w-60 max-[330px]:min-w-50 max-[300px]:min-w-45"
>
  <div class="group flex-1 w-full relative rounded-xl overflow-hidden isolate">
    <img
      src="assets/images/keyboard-image.png"
      alt="Product Image"
      class="object-cover w-full aspect-4/5 group-hover:scale-110 duration-700 ease-out transition-transform"
    />

    <button
      class="absolute bottom-5 left-5 w-[calc(100%-2.5rem)] bg-white text-black border-2 border-black rounded-2xl px-2 py-3 cursor-pointer text-sm font-bold opacity-0 group-hover:opacity-100 transition-all active:scale-95"
    >
      View Product
    </button>
  </div>

  <div class="flex justify-between">
    <div class="flex flex-col">
      <span class="text-white font-bold text-lg">The Neon Glide</span>
      <span class="text-slate-400/50">by User882</span>
    </div>
    <span class="text-secondary">$249</span>
  </div>
</div>
