>
<a routerLink="" class="text-white text-xl font-bold pl-11 cursor-pointer" title="home page">{{
  projectName
}}</a>

<ul class="mt-13 flex flex-col gap-3 h-full">
  @for (data of pagesData(); track $index) {
    <li>
      <a
        [routerLink]="data.goTo"
        routerLinkActive=""
        (click)="onClick()"
        #rla="routerLinkActive"
        [class]="
          `flex gap-2 items-center px-4 py-3.5 rounded-xl transition-colors duration-200 no-underline ${
            rla.isActive
              ? 'text-secondary/90 bg-secondary/20 border border-secondary/50'
              : 'text-light-steel-blue/80 hover:bg-white/10'
          }`
        "
      >
        <i [class]="data.icon"></i>
        <span class="font-bold">{{ data.name }}</span>
      </a>
    </li>
  }

  <li class="mt-auto mb-2">
    <a
      (click)="authService.logout()"
      class="flex gap-2 items-center px-4 py-3.5 bg-red-500 rounded-xl text-white hover:bg-red-600 transition-colors duration-200 cursor-pointer no-underline"
    >
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span class="font-bold">Logout</span>
    </a>
  </li>
</ul>
