<div class="font-body selection:bg-secondary/30 min-h-screen bg-primary text-off-white">
  <main class="p-8 pb-12">
    <div class="flex justify-between items-end mb-8">
      <div>
        <h2 class="text-2xl font-bold text-off-white font-display">Inventory Management</h2>
        <p class="text-soft-gray text-sm mt-1">
          Manage physical stock and custom modification logic.
        </p>
      </div>
    </div>

    <section class="mb-8">
      <div class="bg-deep-blue rounded-xl border border-dark-blue-gray overflow-hidden">
        <div class="flex justify-between items-center p-6 border-b border-dark-blue-gray">
          <div class="font-bold text-xl">Products</div>
          <button
            class="flex cursor-pointer items-center gap-2 px-4 py-2 rounded-lg bg-secondary text-off-white text-sm font-bold hover:bg-secondary/90 transition-all shadow-lg shadow-secondary/20"
          >
            Add Product
          </button>
        </div>

        <div class="p-6 space-y-4">
          @for (product of productsService.products(); track product.id) {
            <div
              class="flex items-center justify-between p-4 rounded-xl bg-dark-deep-blue/50 border border-dark-blue-gray hover:border-secondary/50 transition-all group"
            >
              <div class="flex items-center gap-6 flex-1 min-w-0">
                <div
                  class="w-16 h-16 rounded-lg overflow-hidden bg-primary shrink-0 border border-dark-blue-gray"
                >
                  <img
                    [alt]="product.title"
                    class="w-full h-full object-cover opacity-80 group-hover:opacity-100 transition-opacity"
                    [src]="product.image"
                  />
                </div>
                <div class="min-w-50 flex flex-col gap-1 flex-1 overflow-hidden">
                  <h4 class="font-bold text-off-white group-hover:text-secondary transition-colors">
                    {{ product.title }}
                  </h4>
                  <span class="truncate block">
                    Description:
                    {{ product.description }}
                  </span>
                </div>
              </div>
              <div class="flex items-center gap-8">
                <div class="text-right min-w-30">
                  <p class="font-bold text-off-white">{{ product.stock }} in stock</p>
                </div>
                <div class="flex gap-2">
                  <button
                    class="px-3 cursor-pointer py-1 rounded-lg border border-dark-blue-gray flex items-center justify-center text-light-steel-blue hover:border-secondary hover:text-secondary transition-all"
                  >
                    <span class="text-[18px]">edit</span>
                  </button>
                  <button
                    class="px-3 py-1 cursor-pointer rounded-lg border border-dark-blue-gray flex items-center justify-center text-light-steel-blue hover:border-error hover:text-error transition-all"
                    (click)="productsService.remove(product.id)"
                  >
                    <span class="text-[18px]">delete</span>
                  </button>
                </div>
              </div>
            </div>
          } @empty {
            @if (!productsService.isLoading()) {
              <div class="w-full text-center font-bold text-xl">No Products Avaiable</div>
            }
          }

          @if (productsService.isLoading()) {
            <div class="w-full flex justify-center items-center">
              <app-loading />
            </div>
          }
        </div>

        <div (appIsVisable)="productsService.lazyGetProducts()"></div>
      </div>
    </section>

    <section class="mb-8">
      <h3 class="text-lg font-bold text-off-white flex items-center gap-2 mb-6">
        Custom Modifications
      </h3>

      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-4 flex flex-col gap-4">
          <div
            class="bg-deep-blue rounded-xl border border-dark-blue-gray overflow-hidden flex flex-col custom-column-height"
          >
            <div
              class="p-4 border-b border-dark-blue-gray flex justify-between items-center bg-dark-deep-blue/50"
            >
              <span class="font-bold text-xs text-off-white uppercase tracking-wider">Parts</span>
              <button class="text-secondary cursor-pointer">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="flex-1 overflow-y-auto p-3 space-y-2">
              @for (item of parts; track $index) {
                <div
                  class="p-3.5 rounded-lg flex items-center justify-between cursor-pointer transition-all"
                  [class]="
                    item.active
                      ? 'bg-secondary/10 border border-secondary/30 shadow-sm group'
                      : 'bg-dark-deep-blue border border-dark-blue-gray hover:bg-primary/50'
                  "
                >
                  <span class="font-bold text-sm text-off-white truncate block">{{
                    item.name
                  }}</span>

                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              }
            </div>
          </div>
        </div>

        <div class="col-span-4 flex flex-col gap-4">
          <div
            class="bg-deep-blue rounded-xl border border-dark-blue-gray overflow-hidden flex flex-col custom-column-height"
          >
            <div
              class="p-4 border-b border-dark-blue-gray flex justify-between items-center bg-dark-deep-blue/50"
            >
              <span class="font-bold text-xs text-off-white uppercase tracking-wider"
                >Sections</span
              >
              <button class="text-secondary cursor-pointer">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="flex-1 overflow-y-auto p-3 space-y-2">
              @for (item of sections; track $index) {
                <div
                  class="p-3.5 rounded-lg flex items-center justify-between cursor-pointer transition-all"
                  [class]="
                    item.active
                      ? 'bg-secondary/10 border border-secondary/30 shadow-sm group'
                      : 'bg-dark-deep-blue border border-dark-blue-gray hover:bg-primary/50'
                  "
                >
                  <span class="font-bold truncate block text-sm text-off-white">{{
                    item.name
                  }}</span>

                  <i class="fa-solid fa-chevron-right turnca"></i>
                </div>
              }
            </div>
          </div>
        </div>

        <div class="col-span-4 flex flex-col gap-4">
          <div
            class="bg-deep-blue rounded-xl border border-dark-blue-gray overflow-hidden flex flex-col custom-column-height"
          >
            <div
              class="p-4 border-b border-dark-blue-gray flex justify-between items-center bg-dark-deep-blue/50"
            >
              <span class="font-bold text-xs text-off-white uppercase tracking-wider"
                >Modifications</span
              >
              <button class="text-secondary cursor-pointer">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <div class="flex-1 overflow-y-auto p-3 space-y-2">
              @for (mod of mods; track $index) {
                <div
                  class="p-3.5 rounded-lg bg-dark-deep-blue border border-dark-blue-gray flex items-center justify-between group cursor-default hover:border-dark-gray transition-all"
                >
                  <div class="flex items-center gap-3">
                    <img [src]="mod.image" alt="" class="aspect-square h-full" />
                    <div class="flex flex-col">
                      <span class="text-sm text-off-white truncate block font-medium">{{
                        mod.name
                      }}</span>
                      <span class="text-[10px] text-secondary font-bold">{{ mod.price }}</span>
                    </div>
                  </div>
                  <button
                    class="opacity-0 group-hover:opacity-100 transition-opacity cursor-pointer text-soft-gray hover:text-error"
                    title="Remove"
                  >
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
