/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-primary: #0f1521;
  --color-secondary: #135bec;
  --color-dark-gray: #505564;
  --color-deep-blue: #182132;
  --color-soft-gray: #96a3c6;
  --color-off-white: #d4d9e3;
  --color-error: #c70404;
  --color-dark-deep-blue: #101726;
  --color-dark-blue-gray: #232f48;
  --color-ok: #1dc554;
  --color-light-steel-blue: #92a4c9;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  isolation: isolate;
  font-family:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 99999s ease-in-out 0s;
  -webkit-text-fill-color: #f8fafc !important;
  caret-color: white;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}
