<main class="flex-1 min-w-0 flex flex-col">
  <div class="p-8 space-y-8 w-full">
    <app-state-data [statCardData]="statusData()" class="mb-8" />

    <div class="bg-deep-blue max-w-500 rounded-xl border border-dark-blue-gray overflow-hidden">
      <div class="p-6 flex justify-between items-center border-b border-dark-blue-gray">
        <div>
          <h2 class="text-lg font-bold">Current Fulfillment Queue</h2>
          <p class="text-sm text-soft-gray">
            Real-time order processing status across global hubs.
          </p>
        </div>
      </div>

      <app-orders-table
        [isLoading]="ordersManagementService.isLoading()"
        [sectionsOrders]="ordersManagementService.sectionsOrders()"
        [allOrdersCount]="ordersManagementService.summary().pendingOrdersCount"
        (changeSectionOutput)="ordersManagementService.loadSection($event)"
      />
    </div>
  </div>
</main>

<dialog app-order-details-dialog></dialog>
