<div class="flex overflow-hidden font-display bg-dark-deep-blue text-off-white antialiased h-full">
  <div class="flex-1 flex flex-col overflow-hidden">
    <main class="flex-1 flex overflow-hidden">
      <section
        class="w-80 border-r border-dark-blue-gray flex flex-col bg-dark-deep-blue/50 overflow-hidden"
      >
        <div class="p-6 border-b border-dark-blue-gray w-full">
          <h2 class="font-bold text-lg w-full text-center">Active Chats</h2>
        </div>
        <div class="flex-1 overflow-y-auto custom-scrollbar">
          @for (chat of chatGroupService.chatGroups(); track chat.id) {
            <button
              class="w-full p-4 flex items-start space-x-3 hover:bg-deep-blue transition-all text-left group cursor-pointer"
              [class]="selectedChatGroupId() === chat.id ? 'bg-secondary/15!' : ''"
              (click)="selectedChatGroupId.set(chat.id)"
            >
              <div class="relative shrink-0">
                <img
                  [alt]="chat.userName"
                  class="size-12 rounded-lg object-cover"
                  [src]="chat.userImageUrl"
                />
              </div>
              <div class="flex-1 min-w-0">
                <div class="flex justify-between items-center">
                  <span class="font-bold truncate text-soft-gray group-hover:text-off-white">{{
                    chat.userName
                  }}</span>
                  <span class="text-[10px] text-light-steel-blue">{{
                    chat.latestMessageAt | date
                  }}</span>
                </div>
                <!-- <p class="text-xs truncate mt-1 text-secondary font-medium">Typing</p> -->
              </div>
            </button>
          } @empty {
            @if (!chatGroupService.isLoading()) {
              <div class="w-full text-center p-4">No Chat Groups</div>
            }
          }

          @if (chatGroupService.isLoading()) {
            <div class="flex justify-center p-4">
              <app-loading />
            </div>
          }

          <div (appIsVisable)="chatGroupService.lazyGetChatGroups()"></div>
        </div>
      </section>

      <section
        class="flex-1 flex flex-col bg-dark-deep-blue relative border-r border-dark-blue-gray"
      >
        @if (showMessagesComponent()) {
          <app-live-chatting
            [messages]="adminMessagesService.messages()[selectedChatGroupId()]"
            [isLoading]="adminMessagesService.isLoading()[selectedChatGroupId()]"
            [isSignalRConnected]="messagesSignalRService.isConnected()"
            [isTyping]="adminMessagesService.isTyping()[selectedChatGroupId()]"
            [quickActions]="[]"
            (appIsVisable)="adminMessagesService.lazyGetMessages(selectedChatGroupId())"
            (handleIsTyping)="handleIsTyping($event)"
            (handleSendMessage)="messagesSignalRService.sendMessage($event, selectedChatGroupId())"
          />
        }
      </section>
    </main>
  </div>
</div>
